.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.contact-link {
    position: relative;
}

.contact-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: var(--low-opacity-highlight-color);
    height: 2px;
    width: 20%;
}