.home-section {
    margin-bottom: 2em;
}
@media (min-width: 700px) {
    .home-section {
        margin-bottom: 4em;
    }
}

.about-section {
    padding-top: 1em;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.about-list {
    list-style: none;
    padding: 0;
}

.about-list-item {
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.about-list-item .underline-text::after {
    height: 2px;
}

.all-projects-btn {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: .5em 0;
    text-align: center;
}
@media (min-width: 700px) {
    .all-projects-btn {
        width: 250px;
        font-size: 1.2rem;
    }
}

.email-section {
    text-align: center;
}